.headerDetailsData {

  .reviewBox {
    float: right;
    margin: -35px 0px 0px 0px;

    .starRating {

    }

    .reviews {

    }

    .likeBtn {
      width: 100%;
    }

  }
}

.contentTitle {
  padding-top: 18px;
}

.addToFavorite {
  float: right;
}



